#contenedor{
	border:2px solid black;
	width: 600px;
	height: 600px;
	margin: auto;

	/* no encontré como hacer que quede alineado a la izquierda con las opciones explicadas, usé esta forma que me apareció en internet 
	direction: rtl;*/

	
	/* de esta manera lo corrigió Flavia */
	display: flex;
    align-items: flex-end;
    flex-direction: column;

}

#rojo{
	background-color: red;
	width: 200px;
	height: 200px;
	font-size: 20px;
	color: white;
	/* alinea texto en el centro de la caja */
	display: flex;
	justify-content: center;
	align-items: center;
}

#azul{
	background-color: blue;
	width: 200px;
	height: 200px;
	font-size: 20px;
	color: white;
	/* alinea texto en el centro de la caja */
	display: flex;
	justify-content: center;
	align-items: center;
}

#verde{
	background-color: green;
	width: 200px;
	height: 200px;
	font-size: 20px;
	color: white;
	/* alinea texto en el centro de la caja */
	display: flex;
	justify-content: center;
	align-items: center;
}