/* font-family: 'Arimo', sans-serif; 
font-family: 'Dosis', sans-serif;*/

#titulo {
    width: 100%;
    height: 77px;
    margin-bottom: 15px;

    color: #0e2301;
    font-size: 20pt;
    text-align: center;
    text-shadow: 2px 1px 0px rgba(0, 128, 0, 0.76);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background: #aee2ae;
    background: radial-gradient(circle farthest-corner at center center, #aee2ae 0%, rgba(68, 251, 68, 0.76) 100%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #aee2ae 0%, rgba(68, 251, 68, 0.76) 100%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #aee2ae 0%, rgba(68, 251, 68, 0.76) 100%);

    border-radius: 20px 0px 20px 0px;
    -webkit-border-radius: 20px 0px 20px 0px;
    -moz-border-radius: 20px 0px 20px 0px;
}

h3 {
    color: #0e2301;
    text-shadow: 1px 1px 0px rgba(0, 128, 0, 0.76);
}

.destacado {
    font-weight: 900;
}

.cursiva {
    font-style: italic
}

#agua {
    width: 900px;
    height: 328px;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 15px;
    font-size: 13pt;

    border-top: 10px double #008000;
    border-right: 10px solid #008000;
    border-bottom: 10px double #008000;
    border-left: 10px solid #008000;
    background: #dbffc3;

    border-radius: 20px 0px 20px 0px;
    -webkit-border-radius: 20px 0px 20px 0px;
    -moz-border-radius: 20px 0px 20px 0px;
}

.columnas {
    column-count: 3;
    column-gap: 30px;
    column-rule: 2px solid rgb(2, 119, 2);
    text-align: justify;
}

/*para que el primer párrafo de las columnas no tenga margen y quede distinto a las demás columnas*/
.columnas p {
    margin: 0;
}

/*color para los íconos*/
.color {
    color: green;
}

.linea_divisoria {
    width: 55%;
    height: 1px;
    border-top: solid green 2px;
}

/*porque el segundo ícono no tiene el mismo tamaño que los otros, agrego margen derecho*/
.separar_icono {
    margin-right: 6px;
}


/* para que la imagen esté gris y al pasar el cursor tome sus colores originales*/
img{
    filter: grayscale(100%);
    cursor: pointer;
}

img:hover{
    filter: grayscale(0);
}